<%= form_for @consultant, :html => {:multipart => true} do |form| %>
  <% if consultant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultant.errors.count, "error") %> prohibited consultant profile from being saved:</h2>

      <ul>
      <% consultant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="field form-group col-md-6">
      <%= form.label :name %>
      <%= form.text_field :name, id: :consultant_name, class: 'form-control', placeholder: 'Tell us your name' %>
    </div>

    <div class="field form-group col-md-6">
      <%= form.label :email %>
      <%= form.text_field :email, id: :consultant_email, class: 'form-control', 'aria-describedby': 'emailHelp', placeholder: 'Please enter your email' %>
      <small id="emailHelp" class="form-text text-muted">We won't share this</small>
    </div>
  </div>

  <div class="form-row">
    <div class="field form-group col-md-12">
      <%= form.label :bio %>
      <%= form.text_area :bio, id: :consultant_bio, class: 'form-control', placeholder: 'Tell us more about you' %>
    </div>
  </div>

  <div class="form-row">
    <div class="field form-group col-md-4">
      <%= form.label :twitter, class: 'col-form-label' %>
      <%= form.text_field :twitter_handle, id: :consultant_twitter, class: 'form-control', placeholder: 'e.g. @clearcutmb' %>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :facebook %>
      <%= form.text_field :facebook_url, id: :consultant_facebook, class: 'form-control', placeholder: 'e.g. clearcutmb' %>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :instagram %>
      <%= form.text_field :instagram_handle, id: :consultant_instagram, class: 'form-control', placeholder: 'e.g. clearcutmb' %>
    </div>
  </div>

  <div class="actions form-group">
    <%= form.submit %>
  </div>
<% end %>
