<p id="notice"><%= notice %></p>


<h1>Edit: <%= "Order: #{@order.ordername} - #{@order.ordernumber}" %> </h1>

<%= react_component 'OrderForm', { data: @order.attributes } %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
