<p id="notice"><%= notice %></p>


<h1><%= "Order: #{@order.ordername} - #{@order.ordernumber}" %> </h1>

<%= react_component 'Order', { data: @order } %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
