<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @keyword.word %>
</p>

<h2>Latest <%= @keyword.word %> twits (<%= @keyword.tweets.count %>)</h2>
<ul>
	<% @keyword.tweets.each do |twit| %>
		<li><%= twit.user_screen_name %>: <%= twit.text %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
