<nav class="navbar navbar-default" role="navigation" style="padding:10px">
  <!-- Brans and toggle should be grouped -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-nav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <%= image_tag("logo.png", size: "40x40") %>
    </a>
  </div>

  <!-- Application navigation links -->
  <div class="collapse navbar-collapse" id="app-nav">

    <ul class="nav nav-pills navbar-left">
      <li class="active nav-btn"><%= link_to "Home", dashboard_index_path, class: "nav-btn" %></li>
      <li class="nav-btn"><%= link_to "Keywords", keywords_path, class: "nav-btn" %></li>
      <li class="nav-btn"><%= link_to "Estimates", estimates_path, class: "nav-btn" %></li>
      <li class="nav-btn"><%= link_to "Orders", orders_path, class: "nav-btn" %></li>
      <li class="nav-btn"><%= link_to "Services", services_path, class: "nav-btn" %></li>
      <li class="nav-btn"><a href="#">Contact</a></li>
    </ul>
    
    <ul class="nav nav-pills navbar-right">
      <% unless user_signed_in? %>
        <li><%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %></li>
        <li class=""><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %></li>
      <% else %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<b class="caret"></b></a>
        <!-- Style to include profile pic, order details, payment info and spacing -->
          <ul class="dropdown-menu">
            <li class=""><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %></li>
            <li class=""><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %></li>
          </ul>
          <% end %>
      </li>
    </ul>
  </div>
</nav>